<table>
  
    <tr>
        <td>
            @Html.DevExpress().Button(
            settings =>
            {
                settings.Name = "btnPave1";
                settings.Width = 100;
                settings.Height = 100;
                settings.Text = "1";
                settings.Style[HtmlTextWriterStyle.Margin] = "2px";
                settings.ClientSideEvents.Click = "OnPaveNumClick";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Button(
            settings =>
            {
                settings.Name = "btnPave2";
                settings.Width = 100;
                settings.Height = 100;
                settings.Text = "2";
                settings.Style[HtmlTextWriterStyle.Margin] = "2px";
                settings.ClientSideEvents.Click = "OnPaveNumClick";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Button(
            settings =>
            {
                settings.Name = "btnPave3";
                settings.Width = 100;
                settings.Height = 100;
                settings.Text = "3";
                settings.Style[HtmlTextWriterStyle.Margin] = "2px";
                settings.ClientSideEvents.Click = "OnPaveNumClick";
            }).GetHtml()
        </td>
    </tr>
    <tr>
        <td>
            @Html.DevExpress().Button(
            settings =>
            {
                settings.Name = "btnPave4";
                settings.Width = 100;
                settings.Height = 100;
                settings.Text = "4";
                settings.Style[HtmlTextWriterStyle.Margin] = "2px";
                settings.ClientSideEvents.Click = "OnPaveNumClick";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Button(
            settings =>
            {
                settings.Name = "btnPave5";
                settings.Width = 100;
                settings.Height = 100;
                settings.Text = "5";
                settings.Style[HtmlTextWriterStyle.Margin] = "2px";
                settings.ClientSideEvents.Click = "OnPaveNumClick";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Button(
            settings =>
            {
                settings.Name = "btnPave6";
                settings.Width = 100;
                settings.Height = 100;
                settings.Text = "6";
                settings.Style[HtmlTextWriterStyle.Margin] = "2px";
                settings.ClientSideEvents.Click = "OnPaveNumClick";
            }).GetHtml()
        </td>
    </tr>
    <tr>
        <td>
            @Html.DevExpress().Button(
            settings =>
            {
                settings.Name = "btnPave7";
                settings.Width = 100;
                settings.Height = 100;
                settings.Text = "7";
                settings.Style[HtmlTextWriterStyle.Margin] = "2px";
                settings.ClientSideEvents.Click = "OnPaveNumClick";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Button(
            settings =>
            {
                settings.Name = "btnPave8";
                settings.Width = 100;
                settings.Height = 100;
                settings.Text = "8";
                settings.Style[HtmlTextWriterStyle.Margin] = "2px";
                settings.ClientSideEvents.Click = "OnPaveNumClick";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Button(
            settings =>
            {
                settings.Name = "btnPave9";
                settings.Width = 100;
                settings.Height = 100;
                settings.Text = "9";
                settings.Style[HtmlTextWriterStyle.Margin] = "2px";
                settings.ClientSideEvents.Click = "OnPaveNumClick";
            }).GetHtml()
        </td>
    </tr>
    <tr>
        <td>
            @Html.DevExpress().Button(
            settings =>
            {
                settings.Name = "btnPaveC";
                settings.Width = 100;
                settings.Height = 100;
                settings.Text = "C";
                settings.Style[HtmlTextWriterStyle.Margin] = "2px";
                settings.ClientSideEvents.Click = "OnPaveCommandClick";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Button(
            settings =>
            {
                settings.Name = "btnPave0";
                settings.Width = 100;
                settings.Height = 100;
                settings.Text = "0";
                settings.Style[HtmlTextWriterStyle.Margin] = "2px";
                settings.ClientSideEvents.Click = "OnPaveNumClick";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Button(
            settings =>
            {
                settings.Name = "btnPaveEn";
                settings.Width = 100;
                settings.Height = 100;
                settings.Text = "E";
                settings.Style[HtmlTextWriterStyle.Margin] = "2px";
                settings.ClientSideEvents.Click = "OnPaveCommandClick";
            }).GetHtml()
        </td>
    </tr>
</table>
